*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #006989;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: #FF004D;
    background-color: #CAF4FF;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#092635;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#newGame-btn{
    padding: 1rem;
    font-size: 1.25rem;
   background-color:#FF004D;
    color: #fff;
    border-radius: 1rem;
    border: none;
}


#msg{
    color:#F8C794 ;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}